<layout name="layout/main" />
<div class="pageTitle">
    <div class="title">后台菜单权限管理</div>
</div>
<ul class="optionList">
    <li><a href="javascript:void(0);" class="add-auth"><span class="icon-add"></span>添加权限菜单</a></li>
</ul>
<table width="100%" class="tableList">
    <tr>
        <th width="40">ID</th>
        <th width="300">名称</th>
        <th width="300">地址</th>
        <th width="80">作为菜单</th>
        <th width="80">排序</th>
        <th>操作</th>
    </tr>
    <?php foreach ($menus as $key => $_menu) : ?>
    <tr>
        <td><?=$_menu['kamu_id']?></td>
        <td style="padding-left:<?=($_menu['level_depth']-1)*25?>px;"><?=$_menu['kamu_name']?></td>
        <td><?=$_menu['kamu_url']?></td>
        <td><?=$_menu['kamu_as_menu']==1?'<font color="Green">是</font>':'<font color="Red">否</font>'?></td>
        <td><?=$_menu['position']?></td>
        <td><a class="edit" href="javascript:void(0);" data-id="<?php echo $_menu['kamu_id'];?>">编辑</a> | <a class="deletes">删除</a></td>
    </tr>
    <?php endforeach; ?>
</table>
<style>
    #J_add_menu{position:fixed;top:0;left:0;width:600px;height:300px;background:#FFFFFF;z-index:2;border:2px solid #318631;}
    #J_add_menu .close{color: red;cursor: pointer;display: block;float: right;font-size: 12px;margin: 5px;}
    .deletes{cursor:pointer}
</style>
<div id="J_add_menu" style="display:none;">
    <span class="close">关闭</span>
    <br>
    <form method="POST" action="{:U('menu/adminSave')}">
        <table class="tableForm" width="100%">
            <tr>
                <th style="width:25%;">菜单名称：</th><td><input class="text" name="kamu_name" id="menu_name" value=""></td>
            </tr>
            <tr>
                <th style="width:25%;">菜单地址：</th><td><input class="textBig" name="kamu_url" id="menu_url" value=""></td>
            </tr>
            <tr>
                <th style="width:25%;">排序：</th><td><input class="textSmall" name="position" id="menu_position" value="">数值大的在前面</td>
            </tr>
            <tr>
                <th style="width:25%;">父集菜单：</th><td>
                <select class="select" name="kamu_parent_id" id="menu_parent">
                    <option value="0">作为父菜单使用</option>
                    <?php foreach ($topMenus as $_menu) : ?>
                    <option value="<?=$_menu['kamu_id']?>"><?=$_menu['kamu_name']?></option>
                    <?php endforeach; ?>
                </select>
            </td>
            </tr>
            <tr>
                <th style="width:25%;">是否作为菜单：</th><td>
                <select class="select" name="kamu_as_menu" id="menu_as">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </td>
            </tr>
            <tr>
                <th></th><td>
                <input type="hidden" name="kamu_id" id="menu_id" value="0">
                <input type="submit" class="submit" value="提交">
            </td>
            </tr>
        </table>
    </form>
</div>
<script>
    $(document).ready(function() {
       $(".add-auth").on('click', function() {
           var top = $(window).height();
           var width = $(window).width();
           $("#J_add_menu").css({"top":(top/2-100)+"px", "left":(width/2-280)+"px"});
           $("#J_add_menu").show();
        });
        $(".close").on('click', function() {
            $("#J_add_menu").hide();
        });
        //编辑
        $(".edit").on('click', function() {
            var top = $(window).height();
            var width = $(window).width();
            var id = $(this).attr("data-id");
            $("#menu_id").val(id);
            $.ajax({
                url : "<?php echo U('menu/ajaxMenu'); ?>",
                data: {"kamu_id" : id},
                dataType: "json",
                type : "post",
                success: function(result) {
                    $("#menu_name").val(result.kamu_name);
                    $("#menu_url").val(result.kamu_url);
                    $("#menu_position").val(result.position);
                    $("#menu_parent option").each(function() {
                        if($(this).val() == result.kamu_parent_id) {
                            $(this).prop("selected", true);
                        }
                    });
                    $("#menu_as option").each(function() {
                        if($(this).val() == result.kamu_as_menu) {
                            $(this).prop("selected", true);
                        }
                    });
                }
            });
            $("#J_add_menu").css({"top":(top/2-100)+"px", "left":(width/2-280)+"px"});
            $("#J_add_menu").show();
        });
        //删除
        $(".deletes").on("click", function() {
            var id = $(this).parent("td").find("a").eq(0).attr("data-id");
            layer.open({
                content : "您确定要删除吗",
                btn: ['确认', '取消'],
                shadeClose : false,
                yes: function() {
                    $.ajax({
                        url : "<?php echo U('menu/adminDelete')?>",
                        type : 'post',
                        dataType : 'json',
                        data : {kamu_id: id},
                        success : function(result) {
                            layer.alert(result.msg, function() {
                               window.location.reload();
                            });
                        }
                    })
                },
                no : function() {
                    layer.close();
                }
            });
        });
    });
</script>