<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>365房管家后台管理系统</title>
    <link href="__PUBLIC__/Home/css/login.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<form id="form1" runat="server">
    <div class="Main">
        <ul>
            <li class="top"></li>
            <li class="top2"></li>
            <li class="topA"></li>
            <li class="topB">
                <span>
                    <img src="__PUBLIC__/Home/images/logo.png" alt="" style="margin-top: 40px;margin-left: 13px;" />
                </span>
            </li>
            <li class="topC"></li>
            <li class="topD">
                <ul>
                    <li>
                        <span class="left">用户名：</span>
                        <span style="left">
                        <input id="u_name" type="text" class="txt" />
                        </span>
                    </li>
                    <li style="margin-top:5px;">
                        <span class="left">密 码：</span>
                        <span style="left">
                        <input id="u_pass" type="password" class="txt" />
                        </span>
                    </li>
                    <li style = "margin-top:5px;">
                        <div id="captcha"></div>
                    </li>
                </ul>
            </li>
            <li class="topE"></li>
            <li class="middle_A"></li>
            <li class="middle_B"></li>
            <li class="middle_C">
            <span class="btn" id="login_submit">
                <img alt="" src="__PUBLIC__/Home/images/btnlogin.gif" />
            </span>
            </li>
            <li class="middle_D"></li>
            <li class="bottom_A"></li>
        </ul>
    </div>
</form>
<script src="https://static.geetest.com/static/tools/gt.js"></script>
<script src="https://api.geetest.com/get.php"></script>
<script>
    var handler = function (captchaObj) {
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#captcha");
    };
    // 获取验证码
    $.get("<?php echo U('Home/Index/showVerify');?>", function (data) {
        // 使用initGeetest接口
        // 参数1：配置参数，与创建Geetest实例时接受的参数一致
        // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
        initGeetest({
            gt: data.gt,
            challenge: data.challenge,
            product: "float", // 产品形式
            offline: !data.success
        }, handler);
    }, 'json');

    $(document).keyup(function(event){
        if(event.keyCode == 13) {
            $("#login_submit").trigger('click');
        }
    });

    $(function(){
        $('#login_submit').click(function(){
            var name = $('#u_name').val();
            var pass = $('#u_pass').val();
            var postData = {
                geetest_challenge: $(".geetest_challenge").val(),
                geetest_validate: $(".geetest_validate").val(),
                geetest_seccode: $(".geetest_seccode").val()
            };
            // 验证是否通过
            $.post("<?php echo U('Home/Index/ajaxCheck') ?>", postData, function (data) {
                if (data == 0) {
                    $.post("<?php echo U('Home/Index/checkLogin')?>",{username:name, password:pass},function(result) {
                        if(result['status'] == 1) {
                            window.location.href =  "<?php echo U('Home/Index/index')?>";
                        }else {
                            alert(result.msg);
                            window.location.reload();
                        }
                    },'json');
                }else {
                    alert('验证失败');
                    window.location.reload();
                }
            });
        });
    });
</script>
</body>
</html>
