<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/upload/webuploader.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/upload/uploader.css">
    <!--  <link href="__PUBLIC__/Home/css/365baseAdmin.css" type="text/css" rel="stylesheet">-->
    <link type="text/css" rel="stylesheet" href="http://pic.house365.com/erbu/fgjadmin/css/365baseAdmin.css">
    <link href="__PUBLIC__/Home/css/page.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
    <script src="http://pic.house365.com/static/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/upload/webuploader.js"></script>
    <!--<link rel="stylesheet" href="__PUBLIC__/Home/css/boxy.css" type="text/css" rel="stylesheet"/>-->
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.boxy.js" ></script>
   <!-- <script type="text/javascript" src="__PUBLIC__/Layer/layer.js" ></script>-->
</head>
<body>
<div class="main">
    {__CONTENT__}
</div>
<script src="http://pic.house365.com/erbu/fgjadmin/js/365base.js"></script>
</body>
</html>