<layout name="Layout/main" />
<div class="pageTitle">
    <div class="title">密码修改-个人设置</div>
</div>

<form method="POST"  id="admin_user_edit">
    密码设置后需要重新登录
    <table class="tableForm" width="100%">
        <tr>
            <th style="width:25%;">当前密码：</th>
            <td>
                <input type="password" name="passnow" class="required currentPassword">
            </td>
        </tr>
        <tr>
            <th style="width:25%;">新密码：</th>
            <td>
                <input type="password" class="required password newPassword" name="passnew">
            </td>
        </tr>
        <tr>
            <th style="width:25%;">确认新密码：</th>
            <td>
                <input type="password" class="required password confirmPassword" name="passrenew">
            </td>
        </tr>
        <tr>
            <th style="width:25%;"></th>
            <td>
                <input type="submit" value="修改" class="submit">
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function() {
        //新密码校验
        $('.newPassword').blur(function() {
            $(this).nextAll().css("display", "none");
            var reg = /^[0-9a-zA-Z]{6,15}$/;
            var newPassword = $(this).val();
            if(newPassword == "" || newPassword == null) {
                $(this).after("<span class='error error_required'>该项为必填</span>");
            }else if(!reg.test(newPassword)) {
                $(this).after("<span class='error error_required'>密码格式不正确，请重新输入！</span>");
            }
        });
        //重复密码校验
        $('.confirmPassword').blur(function() {
            $(this).nextAll().css("display", "none");
            var newPassword = $('.newPassword').val();
            var repPassword = $('.confirmPassword').val();
            if(newPassword != repPassword) {
                $(this).after("<span class='error error_required'>两次输入密码不一致，请重新输入！</span>");
            }else if(repPassword == "" || repPassword == null) {
                $(this).after("<span class='error error_required'>该项为必填</span>");
            }
        });
        //当前密码
        $('.currentPassword').blur(function() {
            $(this).nextAll().css("display", "none");
            var currentPass = $(this).val();
            if(currentPass == "" || currentPass == null) {
                $(this).after("<span class='error error_required'>该项为必填</span>");
            }
        });
        //提交
        $('#admin_user_edit').submit(function() {
            var obj = $(".currentPassword");
            var flag = true;
            var currentPass = $(".currentPassword").val();
            var newPass = $(".newPassword").val();
            var repPass = $(".confirmPassword").val();

            var requireds = $(".tableForm").find(".required");
            var passwords = $(".tableForm").find(".password");
            var length = requireds.length;
            var len = passwords.length;
            for(var i = 0; i < length; i++) {
                if($(requireds[i]).val() == "" || $(requireds[i]).val() == null) {
                    if($(requireds[i]).parent("td").find(".error_required").length <= 0) {
                        $(requireds[i]).after("<span class='error error_required'>该项为必填</span>");
                        flag = false;
                    }
                }
            }
            for(var count = 0; count < len; count++) {
                if($(passwords[count]).val() == "" || $(passwords[count]).val() == null) {
                    if($(passwords[count]).parent("td").find(".error_required").length <= 0) {
                        $(passwords[count]).after("<span class='error error_required'>该项为必填</span>");
                        flag = false;
                    }
                }
            }
            var reg = /^[0-9a-zA-Z]{6,15}$/;
            if(!reg.test(newPass)||newPass!=repPass||newPass ==""||newPass==null||currentPass == ""||currentPass == null) {
                flag = false;
            }
            if(flag) {
                $.ajax({
                    url : "<?php  echo U('myself/password') ?>",
                    type : "post",
                    dataType : "json",
                    data : {currentPass: currentPass, newPass:newPass},
                    success : function(result) {
                        console.log(result);
                        if(result.status == 0) {
                            $(obj).after("<span class='error error_required'>当前密码不正确</span>");
                        }else {
                            alert('修改成功');
                        }
                        return false;
                    }
                });
            }
            return false;
        });
    })
</script>