<layout name="Layout/main" />
<div id="uploader" class="wu-example">
    <div class="queueList">
        <div id="dndArea" class="placeholder">
            <div id="picker" class="webuploader-container">
                <div class="webuploader-pick">点击选择图片</div>
                <div id="rt_rt_199ddnnak1a2f4dtkkb1m4s1dbv1" style="position: absolute; top: 0px; left: 448px; width: 168px; height: 44px; overflow: hidden; bottom: auto; right: auto;">
                    <input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*">
                    <label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>
                </div>
            </div>
            <p>或将照片拖到这里，单次最多可选300张</p>
        </div>
        <ul class="fileList"></ul>
    </div>
    <div class="statusBar" style="display:none;">
        <div class="progress" style="display: none;">
            <span class="text">0%</span>
            <span class="percentage" style="width: 0%;"></span>
        </div><div class="info">共0张（0B），已上传0张</div>
        <div class="btns">
            <div id="filePicker2" class="webuploader-container">
                <div class="webuploader-pick">继续添加</div>
                <div id="rt_rt_199ddnnat1kkin3qoig1kbpk526" style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; overflow: hidden;">
                    <input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*">
                    <label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div>
            </div>
            <div class="uploadBtn state-pedding">开始上传</div>
        </div>
    </div>
    <div class="returnMsg" style="margin-left:20px;">
    </div>
</div>
<style type="text/css">
    .returnMsg p{line-height: 20px;height: 20px;}
</style>
<script>
    var baseUrl = '<?php echo "__PUBLIC__"?>';

    $(document).ready(function(){
        var $list = $(".fileList");
        $wrap = $("#uploader");
        $statusBar = $wrap.find('.statusBar');
        $queue = $('<ul class="filelist"></ul>')
            .appendTo( $("#uploader").find('.queueList') );
        $info = $statusBar.find('.info');

        //// 上传按钮
        $upload = $wrap.find('.uploadBtn');
        //// 没选择文件之前的内容。
        $placeHolder = $wrap.find('.placeholder');
        $progress = $statusBar.find('.progress').hide();
        // 添加的文件数量
        fileCount = 0;
        // 添加的文件总大小
        fileSize = 0;

        supportTransition = (function(){
        var s = document.createElement('p').style,
            r = 'transition' in s ||
                'WebkitTransition' in s ||
                'MozTransition' in s ||
                'msTransition' in s ||
                'OTransition' in s;
        s = null;
        return r;
        });
        // 所有文件的进度信息，key为file id
        percentages = {};
        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1;
        // 缩略图大小
        thumbnailWidth = 110 * ratio;
        thumbnailHeight = 110 * ratio;
        state = 'pedding';
        var uploader = WebUploader.create({
            // swf文件路径
            swf: baseUrl+"/upload/Uploader.swf",
            // 文件接收服务端。
            server: '<?php echo U("Upload/doUpload")?>',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },

            fileNumLimit: 10,//限制上传个数
            fileSizeLimit: 5 * 1024 * 1024,
            fileSingleSizeLimit: 1 * 1024 * 1024
        });
        uploader.addButton({
            id: '#filePicker2',
            label: '选择文件'
        });
        // 当有文件添加进来的时候
        function  addFile( file ) {
            var $li = $('<li id="'+file.id+'">'+
                '<p class="title">'+file.name+'</p>'+
                '<p class="imgWrap"></p>'+
                '<p class="progress"><span></span></p>'+
                '</li>');
                $btns = $('<div class="file-panel">' +
                    '<span class="cancel">删除</span>' +
                    '<span class="rotateRight">右旋转</span>' +
                    '<span class="rotateLeft">左旋转</span></div>').appendTo( $li );
                $prgress = $li.find('p.progress span');
                $wrap = $li.find( 'p.imgWrap' );
                $info = $('<p class="error"></p>');
                showError = function( code ) {
                    switch( code ) {
                        case 'exceed_size':
                            text = '文件大小超出';
                            break;

                        case 'interrupt':
                            text = '上传暂停';
                            break;

                        default:
                            text = '失败请重试';
                            break;
                    }
                    $info.text( text ).appendTo( $li );
                };
            if ( file.getStatus() === 'invalid' ) {
                showError( file.statusText );
            } else {
                $wrap.text( '预览中' );
                uploader.makeThumb( file, function( error, src ) {
                    if ( error ) {
                        $wrap.text( '不能预览' );
                        return;
                    }
                    var img = $('<img src="'+src+'">');
                    $wrap.empty().append( img );
                }, thumbnailWidth, thumbnailHeight );
                percentages[ file.id ] = [ file.size, 0 ];
                file.rotation = 0;
            }

            file.on('statuschange', function( cur, prev ) {
                if ( prev === 'progress' ) {
                    $prgress.hide().width(0);
                } else if ( prev === 'queued' ) {
                    $li.off( 'mouseenter mouseleave' );
                    $btns.remove();
                }

                // 成功
                if ( cur === 'error' || cur === 'invalid' ) {
                    // console.log( file.statusText );
                    showError( file.statusText );
                    percentages[ file.id ][ 1 ] = 1;
                } else if ( cur === 'interrupt' ) {
                    showError( 'interrupt' );
                } else if ( cur === 'queued' ) {
                    percentages[ file.id ][ 1 ] = 0;
                } else if ( cur === 'progress' ) {
                    $info.remove();
                    $prgress.css('display', 'block');
                } else if ( cur === 'complete' ) {
                    $li.append( '<span class="success"></span>' );
                }

                $li.removeClass( 'state-' + prev ).addClass( 'state-' + cur );
            });

            $li.on( 'mouseenter', function() {
                $btns.stop().animate({height: 30});
            });

            $li.on( 'mouseleave', function() {
                $btns.stop().animate({height: 0});
            });

            $btns.on( 'click', 'span', function() {
                var index = $(this).index(),
                    deg;
                switch ( index ) {
                    case 0:
                        uploader.removeFile( file );
                        return;

                    case 1:
                        file.rotation += 90;
                        break;

                    case 2:
                        file.rotation -= 90;
                        break;
                }
                if ( supportTransition ) {
                    deg = 'rotate(' + file.rotation + 'deg)';
                    $wrap.css({
                        '-webkit-transform': deg,
                        '-mos-transform': deg,
                        '-o-transform': deg,
                        'transform': deg
                    });
                } else {
                    $wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');
                }
            });
            $li.appendTo( $queue );
        };

        function removeFile( file ) {
            var $li = $('#'+file.id);
            alert(file.id);
            delete percentages[ file.id ];
            updateTotalProgress();
            $li.off().find('.file-panel').off().end().remove();
        }

        function updateTotalProgress() {
            var loaded = 0,
                total = 0,
                spans = $progress.children(),
                percent;

            $.each( percentages, function( k, v ) {
                total += v[ 0 ];
                loaded += v[ 0 ] * v[ 1 ];
            } );

            percent = total ? loaded / total : 0;

            spans.eq( 0 ).text( Math.round( percent * 100 ) + '%' );
            spans.eq( 1 ).css( 'width', Math.round( percent * 100 ) + '%' );
            updateStatus();
        }

        function updateStatus() {
            var text = '', stats;
            if ( state === 'ready' ) {
                text = '选择' + fileCount + '张,共' +
                    WebUploader.formatSize( fileSize ) + '。';
            } else if ( state === 'confirm' ) {
                stats = uploader.getStats();
                if ( stats.uploadFailNum ) {
                    text = '已成功上传' + stats.successNum+ '至相册，'+
                        stats.uploadFailNum + '张上传失败<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'
                }
            } else {
                stats = uploader.getStats();
                text = '共' + fileCount + '张' +
                    WebUploader.formatSize( fileSize )  +
                    '已上传' + stats.successNum + '张';

                if ( stats.uploadFailNum ) {
                    text += '失败' + stats.uploadFailNum + '张';
                }
            }
            $(".info").html( text );
        }

        function setState( val ) {
            var file, stats;

            if ( val === state ) {
                return;
            }

            $upload.removeClass( 'state-' + state );
            $upload.addClass( 'state-' + val );
            state = val;

            switch ( state ) {
                case 'pedding':
                    $placeHolder.removeClass( 'element-invisible' );
                    $queue.parent().removeClass('filled');
                    $queue.hide();
                    $statusBar.addClass( 'element-invisible' );
                    uploader.refresh();
                    break;

                case 'ready':
                    $placeHolder.addClass( 'element-invisible' );
                    $( '#filePicker2' ).removeClass( 'element-invisible');
                    $queue.parent().addClass('filled');
                    $queue.show();
                    $statusBar.removeClass('element-invisible');
                    uploader.refresh();
                    break;

                case 'uploading':
                    $( '#filePicker2' ).addClass( 'element-invisible' );
                    $progress.show();
                    $upload.text( '暂停上传' );
                    break;

                case 'paused':
                    $progress.show();
                    $upload.text( '继续上传' );
                    break;

                case 'confirm':
                    $progress.hide();
                    $upload.text( '开始上传' ).addClass( 'disabled' );

                    stats = uploader.getStats();
                    if ( stats.successNum && !stats.uploadFailNum ) {
                        setState( 'finish' );
                        return;
                    }
                    break;
                case 'finish':
                    stats = uploader.getStats();
                    if ( stats.successNum ) {
                        // alert( '上传成功' );
                    } else {

                        state = 'done';
                        location.reload();
                    }
                    break;
            }
            updateStatus();
        }

        uploader.onUploadProgress = function( file, percentage ) {
            var $li = $('#'+file.id),
                $percent = $li.find('.progress span');
            console.log(percentage);
            $percent.css( 'width', percentage * 100 + '%' );
            percentages[ file.id ][ 1 ] = percentage;
            updateTotalProgress();
        };


        //上传成功后
        //回调该函数异步入库
        uploader.onUploadSuccess = function(file,msg){
            if(msg.status == '1'){
                $.post('/projectalbum/add_album', {'lp_id':lp_id,'imgsrc':msg.path,'album_type':type,'album_type_2':type_2}, function(data) {
                    if (data == '1') {
                        $(".returnMsg").append('<p style="color:green"> '+file.name+' 上传成功</p>');
                    }else{
                        $(".returnMsg").append('<p style="color:red"> '+file.name+' 上传失败</p>');
                    }
                },'json');
            }else{
                $(".returnMsg").append('<p style="color:red"> '+file.name+' 上传失败</p>')
            }
        }

        //上传错误
        uploader.onUploadError = function(file){

        }

        uploader.onFileQueued = function( file ) {
          /*  if (type == '2') {//样板间
                if($("#type_2").val() == ''){
                    alert("请先选择样板间属性!");
                    return false;
                }else{
                    type_2 = $("#type_2").val();
                }
            }*/
            fileCount++;
            fileSize += file.size;

            if ( fileCount === 1 ) {
                $placeHolder.addClass( 'element-invisible' );
                $statusBar.show();
            }

            addFile( file );
            setState( 'ready' );
            updateTotalProgress();
        };

        uploader.onFileDequeued = function( file ) {
            fileCount--;
            fileSize -= file.size;

            if ( !fileCount ) {
                setState( 'pedding' );
            }

            removeFile( file );
            updateTotalProgress();

        };

        uploader.on( 'all', function( type ) {
            var stats;
            switch( type ) {
                case 'uploadFinished':
                    setState( 'confirm' );
                    break;

                case 'startUpload':
                    setState( 'uploading' );
                    break;

                case 'stopUpload':
                    setState( 'paused' );
                    break;

            }
        });

        uploader.onError = function( code ) {
            alert( 'Eroor: ' + code );
        };

        $upload.on('click', function() {
            if ( $(this).hasClass( 'disabled' ) ) {
                return false;
            }

            if ( state === 'ready' ) {
                uploader.upload();
            } else if ( state === 'paused' ) {
                uploader.upload();
            } else if ( state === 'uploading' ) {
                uploader.stop();
            }
        });

        $info.on( 'click', '.retry', function() {
            uploader.retry();
        } );

        $info.on( 'click', '.ignore', function() {
            alert( 'todo' );
        } );

        $upload.addClass( 'state-' + state );
        updateTotalProgress();
    })
</script>